/* font-family: 'Amatic SC', cursive; */
/* font-family: 'Architects Daughter', cursive;  */

a{
  color:black;
}
/* ------------------------ Header -------------------------------------- */
.navbar-brand img{
  width: 50px;
  height: 50px;
}

.header {
  background-image: url(../images/grape.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.header-img img {
  height: 80vh;
  padding-bottom: 30px;
}

.logo {
  padding-bottom: 3.125rem;
}
.logo img{
  width: 50px;
  height: 50px;
}

.navbar-toggler{
  border:1px solid #000000;
}
.header-text h1 {
  font-size: 4.188rem;
  font-weight: 600;
  padding-top: 1.875rem;
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
}

.header-text p {
  font-size: 1.525rem;
  line-height: 1.75rem;
  font-family: "Architects Daughter", cursive;
}

.header-btns {
  margin-top: 5.625rem;
  margin-bottom: 3.125rem;
}
.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
  background: transparent;
  border-color: #123cf3;
  color: #123cf3;
  padding-top: 0.625rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  font-size: 1.185rem;
  text-transform: uppercase;
}

.btn-download:hover {
  color: #129cf9;
  border-color: #129cf9;
  background-color: #123cf3;
  transition: all 1s;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
  color: #123cf3;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
}

.btn-tour:hover {
  color: #129cf9;
  background-color: #123cf3;
  transition: all 1s;
}
.navbar{
  background-color: rgba(211, 206, 206, 0.45);
}
.navbar-default >.active>a{
  color:#123cf3;
  font-size: 1.125rem;

}
/*------------------------- about us --------------------------------------*/

.main-content {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section-title {
  padding-top: 90px;
  padding-bottom: 50px;
}
.section-title h2 {
  font-family: "Amatic SC", cursive;
  position: relative;
  color: #333;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}
.section-title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 200px;
  height: 1px;
  background-color: rgb(61, 61, 255);
  margin-left: -100px;
}

.section-title p {
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  font-family: "Architects Daughter", cursive;
}
.about img {
  width: 90%;
}

.choose-us-title {
  margin-bottom: 40px;
}

.choose-us-title h2 {
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
  margin-bottom: 60px;
  position: relative;
  font-size: 40px;
  text-align: center;
}

.choose-us-title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 200px;
  height: 1px;
  background-color: rgb(61, 61, 255);
  margin-left: -100px;
}

.choose-us-title p {
  margin-top: 40px;
  font-size: 20px;
  line-height: 30px;
  font-family: "Architects Daughter", cursive;
}

.choose-us-item {
  position: relative;
  padding-top: 5px;
  margin-left: 80px;
}

.choose-us-item div {
  position: absolute;
  top: 0;
  left: 0;
}

.choose-us-item div {
  color: rgb(61, 61, 255);
  font-size: 55px;
  transform: translateX(-80px);
}

.choose-us-item h3 {
  font-size: 55px;
  font-family: "Amatic SC", cursive;
}

.choose-us-item p{
  font-size: 20px;
  line-height: 30px;
  font-family: "Architects Daughter", cursive;
}

/*--------------------- Testimonial --------------------------------------*/

.testimonial {
  background-image: url(../images/wine-barrel.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.testimonial-overlay {
  background-color: rgba(31, 31, 31, 0.75);
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel-indicators {
  bottom: -60px;
}
.carousel-item img {
  border-radius: 50px;
  max-width: 40%;
}

.testimonial-caption {
  padding-bottom: 20px;
}
.testimonial-caption h2 {
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  line-height: 80px;
  text-transform: uppercase;
  margin-top: 20px;
}

.testimonial-caption h4 {
  color: blue;
  font-size: 50px;
  font-family: "Architects Daughter", cursive;
}

.testimonial-caption p {
  color: white;
  font-size: 26px;
  line-height: 35px;
  font-family: "Architects Daughter", cursive;
}

/*----------------------- Features ----------------------------------------*/

.features-inner-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
}

.left-features-item {
  position: relative;
  padding-right: 90px;
  margin-bottom: 65px;
  text-align: right;
  margin-top: 35px;
}

.left-features-item-icon {
  position: absolute;
  right: 0;
  top: -8px;
  font-size: 35px;
  color: blue;
  width: 90px;
  height: 90px;
  text-align: center;
}

.left-features-item h3,
.right-features-item h3 {
  text-transform: uppercase;
  font-size: 35px;
  margin-bottom: 21px;
  color: #333;
  font-family: "Amatic SC", cursive;
}

.left-features-item p,
.right-features-item p {
  color: #333;
  font-size: 20px;
  line-height: 26px;
  font-family: "Architects Daughter", cursive;
}

.features-wine {
  position: sticky;
  width: 90%;
  top: 50px;
}
.features-wine img{
max-width: 100%;
}

.right-features-item {
  position: relative;
  padding-left: 90px;
  margin-bottom: 65px;
  text-align: left;
  margin-top: 35px;
}

.right-features-item-icon {
  position: absolute;
  left: 0;
  top: -8px;
  font-size: 40px;
  color: blue;
  width: 90px;
  height: 90px;
  text-align: center;
}

.features-wine img{
  padding-bottom: 30px;
  /* max-height: 900px; */
}

/* ----------------- purchase-now  ----------------------------------------*/

.purchase-now {
  background-image: url(../images/tastimonial.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 60px 0;
}

.purchase-now p {
  color: #fdfdfd;
  font-size: 25px;
  font-family: "Architects Daughter", cursive;

}
.btn-purchase-now,
.btn-purchase-now:active,
.btn-purchase-now:focus,
.btn-purchase-now:visited {
  background-color: #129cf3;
  border: 1px solid #129cf3;
  border-radius: 5px;
  padding: 15px 35px;
  text-transform: uppercase;
  text-align: center;
}

.btn-purchase-now:hover{
  background-color: #ffffff;
  color:#129cf3;
}

/* --------------------- Counter ------------------------------------------ */
.counter {
  background-image: url(../images/pink-wine.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
.counter-owerlay {
  padding: 80px 0;
  background: rgba(31, 31, 31, 0.75);
}

.counter-icon {
  color: blue;
  font-size: 60px;
}

.counter-item h2 {
  color: white;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 1px;
  font-family: "Amatic SC", cursive;
}

.counter-item p {
  color: #d7dadb;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Architects Daughter", cursive;
}

/* -------------------- Wine-food ------------------------------------------*/

.wine-food{
  padding-bottom: 50px;
}
.wine-food img {
  width: 50%;
}

.our-location {
  background-color: #1a1a1a;
  margin-top: -28px;
  position: relative;
}

.our-location-title {
  padding-top: 75px;
}

.our-location-title h2 {
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
}

.our-location-title p {
  color: #858585;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
  font-weight: 400;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.our-location-item {
  padding-top: 100px;
  text-align: center;
  border-left: 1px solid #0f1217;
  min-height: 230px;
  padding-bottom: 15px;
  position: relative;
}

.our-location-item:hover {
  background-color: #121212;
}

.our-location-item:hover > .our-location-icon {
  opacity: 0;
  transition: all 1s;
}

.our-location-icon {
  color: #123cf3;
  text-align: center;
  opacity: 1;
  font-size: 40px;
}

a:hover {
  text-decoration: none;
}

.our-location-inner {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: all 1s;
  bottom: 40px;
}

.our-location-inner h2 {
  text-align: center;
  color: #123cd3;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.our-location-item:hover > .our-location-inner {
  opacity: 1;
  transition: all 1s;
}

/*------------------------------ Contact us --------------------------------*/

.contact-us-form .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #556;
  background-color: transparent;
  border-radius: 5px;
  margin-bottom: 15px;
  opacity: 0.8;
  outline: 8px;
  transition: all 1s;
}

#message {
  height: 75px;
  resize: none;
}

.submit-btn,
.submit-btn:active,
.submit-btn:active,
.submit-btn:visited {
  background-color: transparent;
  border: 1px solid #129cf3;
  border-radius: 5px;
  width: 100%;
  height: 56px;
  text-transform: uppercase;
  font-size: 18px;
  color: #123cf3;
  outline: 0px;
  transition: all 1s;
}

.submit-btn:hover {
  background-color: #129cf3;
  color: #fff;
  border-color: #129cf3;
}

.social-icons {
  padding-top: 50px;
  padding-bottom: 45px;
}

.social-icons ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icons ul li {
  list-style: none;
  display: inline;
  padding-left: 30px;
  font-size: 20px;
}

.social-icons ul li a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #129cf3;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  line-height: 49px;
  color: #9d9d9d;
}

.social-icons ul li a:hover {
  background-color: #129cf3;
  border: 1px solid #129cf3;
  color: #ffffff;
  transition: all 1s;
}

.social-icons ul li a i {
  font-size: 26px;
}

/*--------------------------- Footer  -------------------------------------*/
.footer {
  background-color: #1a1a1a;
  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 3px solid #123cf3;
  color: white;
}
.scroll-top {
  text-align: right;
}

.scroll-top a {
  background-color: #123cf3;
  padding: 25px;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}
